<div class="card">
    <div class="card-body">
        Any
    </div>
</div>
<div class="card">
    <div class="card-body">
        Unanimous
    </div>
</div>
<div class="card">
    <div class="card-body">
        Majority
    </div>
</div>
<div class="card">
    <div class="card-body">
        Majority Shares
    </div>
</div>
<div class="card">
    <div class="card-body">
        Percentage
    </div>
</div>
<div class="card">
    <div class="card-body">
        Selected
        <p>Selected Unanimous | Selected Majority (special) | Selected percentage (special)   </p>
    </div>
</div>