<h3>Settings</h3>
<div class="list-group">
    <div class="list-group-item d-flex justify-content-between">
        <span>Name </span>
        <span>Mbondoo Community | <span [routerLink]="name_link" class="mdi mdi-file-document-edit-outline"></span> </span>
    </div>
</div>
<div class="list-group mt-4">
    <div class="list-group-item d-flex justify-content-between">
        <span>Invitation policy</span>
        <span>Unanimous | <span [routerLink]="transfer_link" class="mdi mdi-file-document-edit-outline"></span> </span>
    </div>
    <div class="list-group-item d-flex justify-content-between">
        <span>Transfer out policy</span>
        <span>Unanimous | <span [routerLink]="transfer_link" class="mdi mdi-file-document-edit-outline"></span> </span>
    </div>
    <div class="list-group-item d-flex justify-content-between">
        <span>Changes to settings policy</span>
        <span>Unanimous | <span [routerLink]="transfer_link" class="mdi mdi-file-document-edit-outline"></span> </span>
    </div>
</div>