<h3>Requests</h3>

<h5>Transfer</h5>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Member</td>
            <td>Amount</td>
            <td>To</td>
            <td>Status</td>
            <td>Voted</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<h5 class="mt-5">Invites</h5>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Name</td>
            <td>Email</td>
            <td>Status</td>
            <td>Voted</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<h5 class="mt-5">Policy Updates</h5>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>Action</td>
            <td>New Policy</td>
            <td>Status</td>
            <td>Voted</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
