<h3>Requests</h3>

<h5>Transfer</h5>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Member</td>
            <td>Method</td>
            <td>From</td>
            <td>To</td>
            <td>Amount</td>
            <td>Approved</td>
            <td>Rejected</td>
            <td>Required</td>
            <td>Responded</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<h5 class="mt-5">Invites</h5>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Member</td>
            <td>Name</td>
            <td>Email</td>
            <td>Approved</td>
            <td>Rejected</td>
            <td>Required</td>
            <td>Responded</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

<h5 class="mt-5">Policy Updates</h5>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Member</td>
            <td>Action</td>
            <td>Current Policy</td>
            <td>Proposed Policy</td>
            <td>Approved</td>
            <td>Rejected</td>
            <td>Required</td>
            <td>Responded</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>