<h4 class="fw-light">Card Payment</h4>
<table class="table" *ngIf="cardTransfers.length>0; else nodata">
    <thead>
        <tr>
            <td>ID</td>
            <td>Started</td>
            <td>Next</td>
            <td>Frequency</td>
            <td>Interval</td>
            <td>Card</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cardTransfers; let i=index">
            <td class="text-primary">{{ item.getTransactionID() }}</td>
            <td>{{ item.getStartDateFormatted() }}</td>
            <td>{{ item.getNextPayFormatted() }}</td>
            <td>{{ item.getFrequencyDescriptor() | titlecase }}</td>
            <td>{{ item.getInterval() }}</td>
            <td>{{ item.getCard().getDescriptor() }}</td>
            <td>{{ item.getAmount().inDollars() |currency }}</td>
        </tr>
    </tbody>
</table>
<h4 class="mt-5 fw-light">Interac e-Transfers (transfer out)</h4>
<table class="table" *ngIf="recurring_items.emt?.length>0; else nodata">
    <thead>
        <tr>
            <td>Started</td>
            <td>ID</td>
            <td>Frequency</td>
            <td>Interval</td>
            <td>Name</td>
            <td>Email</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of recurring_items.emt">
            <td class="text-primary">12345</td>
            <td>{{item.started | date:'mediumDate'}}</td>
            <td>{{item.frequency}}</td>
            <td>{{item.interval}}</td>
            <td>{{item.name}}</td>
            <td>{{item.email}}</td>
            <td>{{item.amount|currency}}</td>
        </tr>
    </tbody>
</table>
<h4 class="mt-5 fw-light">Bank Transfers</h4>
<table class="table" *ngIf="bankTransfers.length>0; else nodata">
    <thead>
        <tr>
            <td>ID</td>
            <td>Started</td>
            <td>Next</td>
            <td>Frequency</td>
            <td>Interval</td>
            <td>Type</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bankTransfers">
            <td class="text-primary">{{ item.getTransactionID() }}</td>
            <td>{{ item.getStartDateFormatted() }}</td>
            <td>{{ item.getNextPayFormatted() }}</td>
            <td>{{ item.getFrequencyDescriptor() | titlecase}}</td>
            <td>{{ item.getInterval() }}</td>
            <td>{{ item.getType() | titlecase  }}</td>
            <td>{{ item.getAmount().inDollars() | currency}}</td>
        </tr>
    </tbody>
</table>

<ng-template #nodata>
    <p class="text-center">You have no recurring items setup.</p>
</ng-template>
