<h3>Activity Log</h3>
<div class="row mb-3" *ngFor="let item of activity">
    <div class="col-12">
        <span>{{item.date | date}}</span>
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <span class="avatar d-flex align-items-center justify-content-center">
                        <span class="mdi mdi-account mdi-24px"></span>
                    </span>
                    <span class="p-3 d-block">{{item.name}}</span>
                    <span class="p-3 d-block">{{item.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
