.avatar{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
}

.icon{
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
}