<ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="'transfer'">
        <ng-container *ngTemplateOutlet="transfer"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transfersuccess'">
        <ng-container *ngTemplateOutlet="transfersuccess"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transferconfirm'">
        <ng-container *ngTemplateOutlet="transferconfirm"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transferpendingapproval'">
        <ng-container *ngTemplateOutlet="transferpendingapproval"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transferfailed'">
        <ng-container *ngTemplateOutlet="transferfailed"></ng-container>
    </ng-container>
</ng-container>



<ng-template #transfer>
    <div class="form-group">
        <label>Amount</label>
        <input [(ngModel)]="amount" #amountRef="ngModel"  class="form-control" type="number" required [max]="maximum">
    </div>
    <div class="form-group mt-3">
        <label>Target Account</label>
        <select required [(ngModel)]="target" #targetRef="ngModel" class="form-control">
            <ng-container *ngFor="let account of accounts">
                <option [value]="account.getId()" *ngIf="!account.is(activeAccount?.getId() ?? 0)">
                    {{account.getFundName()}} - {{account.getFundNumber()}}
                </option>
            </ng-container>
        </select>
    </div>
    <button [appLoadingIcon]="isLoading" [disabled]="targetRef.invalid || (amountRef.invalid || amountRef.pristine)" mat-flat-button color="accent" class="form-control mt-4 mb-4" (click)="moveMoney()">Transfer</button>
</ng-template>

<ng-template #transferconfirm>
    <h4 class="text-center">Confirm Transaction</h4>
    <div class="list-group">
        <div class="list-group-item d-flex justify-content-between">
            <span>Amount</span>
            <span>$100.00</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>Account</span>
            <span>12345679 - Investment Fund</span>
        </div>
    </div>
    <button mat-flat-button color="accent" class="form-control mt-4 mb-4" (click)="onClickUpdateState('transfersuccess')">confirm</button>
</ng-template>

<ng-template #transfersuccess>
    <div class="text-center mt-3">
        <span class="mdi mdi-48px mdi-check-circle-outline text-success"></span>
        <p class="mt-3">
            Success.<br>
            Your confirmation number is <strong>123451</strong>
        </p>
        <button class="mt-3" mat-flat-button color="accent" (click)="onClickUpdateState('transferfailed')">continue</button>
    </div>
</ng-template>

<ng-template #transferfailed>
    <div class="text-center mt-3">
        <span class="mdi mdi-48px mdi-emoticon-confused-outline text-danger"></span>
        <p class="mt-3">The system has experience a critical error. Please try again later or contact us.</p>
        <button class="mt-3" mat-flat-button color="accent" (click)="onClickUpdateState('transferpendingapproval')">try again</button>
    </div>
</ng-template>

<ng-template #transferpendingapproval>
    <div class="text-center mt-3">
        <span class="mdi text-danger mdi-progress-alert mdi-48px"></span>
        <p>Transaction is pending approval from your peers.</p>
        <button class="mt-3" mat-flat-button color="accent" (click)="onClickUpdateState('transfer')" >done</button>
    </div>
</ng-template>