<ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="'transfer'">
        <ng-container *ngTemplateOutlet="transfer"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transfersuccess'">
        <ng-container *ngTemplateOutlet="transfersuccess"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transferconfirm'">
        <ng-container *ngTemplateOutlet="transferconfirm"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transferpendingapproval'">
        <ng-container *ngTemplateOutlet="transferpendingapproval"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'transferfailed'">
        <ng-container *ngTemplateOutlet="transferfailed"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="'methodnotavailable'">
        <ng-container *ngTemplateOutlet="methodnotavailable"></ng-container>
    </ng-container>
</ng-container>



<ng-template #transfer>
    <div class="form-group">
        <label>Amount</label>
        <input [(ngModel)]="amount" #amountRef="ngModel"  class="form-control" type="number" required [min]="0.01" [max]="maximum">
    </div>
    <div class="form-group mt-3">
        <label>Target Account</label>
        <select required [(ngModel)]="target" #targetRef="ngModel" class="form-control">
            <ng-container *ngFor="let account of accounts; let i=index">
                <option [ngValue]="account" *ngIf="!account.is(activeAccount?.getId() ?? 0)">
                    {{account.getFundName()}} - {{account.getFundNumber()}}
                </option>
            </ng-container>
        </select>
    </div>
    <button [appLoadingIcon]="isLoading" [disabled]="targetRef.invalid || (amountRef.invalid || amountRef.pristine)" mat-flat-button color="accent" class="form-control mt-4 mb-4" (click)="onClickUpdateState('transferconfirm')">Transfer</button>
</ng-template>

<ng-template #transferconfirm>
    <h4 class="text-center">Confirm Transaction</h4>
    <div class="list-group">
        <div class="list-group-item d-flex justify-content-between">
            <span>Amount</span>
            <span>{{amount | currency}}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>To</span>
            <span>{{getTargetDescriptor()}}</span>
        </div>
    </div>
    <button mat-flat-button color="accent" class="form-control mt-4 mb-4" (click)="moveMoney()" [appLoadingIcon]="isLoading">confirm</button>
</ng-template>

<ng-template #transfersuccess>
    <div class="text-center mt-3">
        <span class="mdi mdi-48px mdi-check-circle-outline text-success"></span>
        <p class="mt-3">
            Success.<br>
        </p>
        <button class="mt-3" mat-flat-button color="accent" (click)="onClickUpdateState('transfer')">continue</button>
    </div>
</ng-template>

<ng-template #transferfailed>
    <div class="text-center mt-3">
        <span class="mdi mdi-48px mdi-emoticon-confused-outline text-danger"></span>
        <p class="mt-3">The system has experience a critical error. Please try again later.</p>
        <button class="mt-3" mat-flat-button color="accent" (click)="onClickUpdateState('transfer')">try again</button>
    </div>
</ng-template>

<ng-template #methodnotavailable>
    <app-method-not-available></app-method-not-available>
</ng-template>

<ng-template #transferpendingapproval>
    <div class="text-center mt-3">
        <span class="mdi text-danger mdi-progress-alert mdi-48px"></span>
        <p>Transaction is pending approval from your peers.</p>
        <button class="mt-3" mat-flat-button color="accent" (click)="onClickUpdateState('transfer')" >done</button>
    </div>
</ng-template>
