<h3>Password</h3>
<p class="fw-light">Last Updated: {{ date | date:'mediumDate'}}</p>
<div class="form-group mt-3">
    <label>Current Password</label>
    <input class="form-control" type="password">
</div>
<div class="form-group mt-3">
    <label>New Password</label>
    <input class="form-control" type="password">
</div>
<div class="form-group mt-3">
    <label>Repeat New Password</label>
    <input class="form-control" type="password">
</div>
<div class="d-flex justify-content-end mt-3">
    <button class="" mat-flat-button color="accent">Update</button>
</div>
