<h3>Password</h3>
<!--
    <p class="fw-light">Last Updated: {{ date | date:'mediumDate'}}</p>
-->
<div class="form-group mt-3">
    <label>Current Password</label>
    <input (keyup)="validate()" [(ngModel)]="form.current" required class="form-control" type="password">
</div>
<div class="form-group mt-3">
    <label>New Password</label>
    <input (keyup)="validate()" [(ngModel)]="form.new" min="8" required class="form-control" type="password">
</div>
<div class="form-group mt-3">
    <label>Repeat New Password</label>
    <input #repeat="ngModel" [class.is-valid]="validateRepeat() && !repeat.pristine" [class.is-invalid]="!validateRepeat() && !repeat.pristine" (keyup)="validate()" [(ngModel)]="form.new_repeat" required class="form-control exclude" type="password">
</div>
<div class="d-flex justify-content-end mt-3">
    <button [disabled]="!formReady" class="" (click)="update()" mat-flat-button color="accent">Update</button>
</div>
