<h3>Bank (transfer-in)</h3>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Member</td>
            <td>From</td>
            <td>To</td>
            <td>Amount</td>
            <td>State</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<h3>Bank (transfer-out)</h3>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Member</td>
            <td>From</td>
            <td>To</td>
            <td>Amount</td>
            <td>State</td>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<h3 class="mt-5">Interac e-Transfers (transfer-in)</h3>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Member</td>
            <td>Recipient</td>
            <td>Amount</td>
            <td>State</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<h3>Interac e-Transfers (transfer-out)</h3>
<table class="table">
    <thead>
        <tr>
            <td>Date</td>
            <td>ID</td>
            <td>Member</td>
            <td>Recipient</td>
            <td>Amount</td>
            <td>State</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<ng-template #empty>
    <p class="text-center">You have no transactions that are pending.</p>
</ng-template>