<h3>Verify Account</h3>
<p>Please provide a photo ID to assist in identifying you. Please make sure that the name on the ID matches the name on your profile.</p>
<div class="form-group mt-3">
    <label>Type of ID</label>
    <select class="form-control">
        <option>Driver's license</option>
        <option>Passport</option>
        <option>Permenant Resident</option>
        <option>Student Card</option>
        <option>Provicial Photo Card</option>
        <option>Other</option>
    </select>
</div>
<div class="form-group mt-3">
    <label>Identification</label>
    <input class="form-control" type="file" >
</div>
<div class="d-flex justify-content-end mt-3">
    <button color="accent" mat-flat-button>submit</button>
</div>
