<h5 class="mt-5">Pending Requests </h5>
    <hr>
    <div class="row">
        <p class="text-center" *ngIf="pending.length==0">Aaaah nothing here yet!</p>
        <app-request-card [items]="pending" *ngIf="pending.length>0"></app-request-card>
    </div>
    
<h5 class="mt-5">Incomplete Resolutions</h5>
<hr>
<div class="row">
    <app-request-card [items]="incomplete" *ngIf="incomplete.length>0"></app-request-card>
    <p class="text-center" *ngIf="incomplete.length==0">It super clear here!</p>
</div>
    
<h5 class="mt-5">Resolved Resolutions</h5>
<hr>
<table class="table" *ngIf="completed.length>0">
    <thead>
        <tr>
            <td>Date</td>
            <td>Fund</td>
            <td>Responded</td>
            <td>Type</td>
            <td>Resolution</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of completed" [class.table-danger]="!item.approved" [class.table-info]="item.approved && !item.responded" [class.table-success]="item.responded && item.approved">
            <td>{{item.date}}</td>
            <td>{{item.nickname}}</td>
            <td>{{item.responded ? "yes":"no"}}</td>
            <td>{{item.label}}</td>
            <td>{{item.approved ? "accepted":"rejected"}}</td>
        </tr>
    </tbody>
</table>