.overlay{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    .logo{
        max-width: 200px;
        width: 100%;
        text-align: center;
        img{
            width: 100%;
        }
    }
}