<app-basic-layout>
    <ng-container title>Shared Funds</ng-container>
    <ng-container content>
        <table *ngIf="funds.length>0" class="table ">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Members</td>
                <td>Policy</td>
                <td>Balance</td>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fund of funds" >
                    <td>{{ fund.getFundNumber() }}</td>
                    <td>
                        <a routerLink="/shared-funds/{{fund.getId()}}" >
                            {{ fund.getFundName() }}
                        </a>
                    </td>
                    <td>{{ fund.getMemberCount() }}</td>
                    <td>{{ fund.getPolicy() }}</td>
                    <td>{{fund.getBalance() | currency}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</app-basic-layout>