<h3>Bank (transfer-out)</h3>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Member</td>
            <td>From</td>
            <td>To</td>
            <td>Frequency</td>
            <td>Started</td>
            <td>Interval</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<h3>Bank (transfer-in)</h3>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Member</td>
            <td>From</td>
            <td>To</td>
            <td>Frequency</td>
            <td>Started</td>
            <td>Interval</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<h3 class="mt-5">Card</h3>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Member</td>
            <td>From</td>
            <td>To</td>
            <td>Frequency</td>
            <td>Started</td>
            <td>Interval</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<h3 class="mt-5">e-Transfer (transfer-out)</h3>
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            <td>Member</td>
            <td>From</td>
            <td>To</td>
            <td>Frequency</td>
            <td>Started</td>
            <td>Interval</td>
            <td>Amount</td>
        </tr>
    </thead>
    <tbody></tbody>
</table>
