<ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="'transactiondetail'">
        <ng-container *ngTemplateOutlet="transactiondetail"></ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <ng-container *ngIf="transactions.length>0; else transactionempty">
            <ng-container *ngTemplateOutlet="transactionslist"></ng-container>
        </ng-container>
    </ng-container>
</ng-container>


<ng-template #transactionslist>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Transaction ID</td>
                <td>Description</td>
                <td>Inflow</td>
                <td>Outflow</td>
                <td>Balance</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of transactions">
                <td>{{item.getDate() | date}}</td>
                <td class="text-primary cursor-pointer link" (click)="onClickShowItem(item)">{{item.getTransactionNumber()}}</td>
                <td>{{ item.getDescription() }}</td>
                <td class="text-success">
                    <ng-container *ngIf="item.isDeposit()">
                        {{ item.getSign() }} 
                        {{ item.getAmount().inDollarsAbsolute() | currency }}
                    </ng-container>
                </td>
                <td>
                    <ng-container *ngIf="item.isWithdraw()">
                        {{ item.getSign() }} 
                        {{ item.getAmount().inDollarsAbsolute() | currency }}
                    </ng-container>
                </td>
                <td>{{item.getBalance().inDollars() | currency}}</td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #transactiondetail>
    <h4 class="text-capitalize fs-4 fw-lighter">{{ selected_transaction.getDescription() }}</h4>
    <div class="list-group mt-4">
        <div class="list-group-item d-flex justify-content-between">
            <span>Amount</span>
            <span> {{ selected_transaction.getAmount().inDollarsAbsolute() | currency }} </span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>Type</span>
            <span>{{ selected_transaction.getAmount().inCents() > 0 ? 'Transfer-in':'Transfer-out' }}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>Method</span>
            <span>{{ selected_transaction.getDescription() }}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>Transaction ID</span>
            <span>{{ selected_transaction.getTransactionNumber() }} </span>
        </div>
        <ng-container *ngIf="selectedTransactionDetails | async as records">
            <div class="mt-3"></div>
            <div *ngFor="let record of records" class="list-group-item d-flex justify-content-between">
                <span>{{ record[0] }}</span>
                <span>{{ record[1] }}</span>
            </div>
        </ng-container>
    </div>
    <div class="mt-3">
        <button (click)="onClickUpdateState('transactionslist')" color="accent" mat-flat-button>Back</button>
    </div>
</ng-template>

<ng-template #transactionempty>
    <div class="text-center">
        <p class="fs-6 fw-light">You have no transaction.</p>
        <button mat-flat-button color="accent" [routerLink]="transfer_in_link">+ transfer-in</button>
    </div>

</ng-template>