<ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="'transactiondetail'">
        <ng-container *ngTemplateOutlet="transactiondetail"></ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <ng-container *ngIf="transactions.length>0; else transactionempty">
            <ng-container *ngTemplateOutlet="transactionslist"></ng-container>
        </ng-container>
    </ng-container>
</ng-container>


<ng-template #transactionslist>
    <table class="table">
        <thead>
            <tr>
                <td>Date</td>
                <td>Transaction ID</td>
                <td>Description</td>
                <td>Inflow</td>
                <td>Outflow</td>
                <td>Balance</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of transactions">
                <td>{{item.date}}</td>
                <td class="text-primary cursor-pointer link" (click)="onClickShowItem(item)">TR{{pad(item.id)}}</td>
                <td>{{description(item.channel_id)}}</td>
                <td class="text-success">{{item.amount > 0 ? '+ '+(item.amount/100|currency):''}}</td>
                <td>{{item.amount < 0 ? (item.amount/100|currency):''}}</td>
                <td>{{item.balance/100|currency}}</td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #transactiondetail>
    <h4 class="text-capitalize fs-4 fw-lighter">{{description(active_item.channel_id)}}</h4>
    <div class="list-group mt-4">
        <div class="list-group-item d-flex justify-content-between">
            <span>Amount</span>
            <span> {{abs(active_item.amount/100) | currency}} </span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>Type</span>
            <span>{{active_item.amount>0 ? 'Transfer-in':'Transfer-out' }}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>Method</span>
            <span>{{description(active_item.channel_id)}}</span>
        </div>
        <div class="list-group-item d-flex justify-content-between">
            <span>Transaction ID</span>
            <span> TR{{pad(active_item.id)}} </span>
        </div>
    </div>
    <div class="mt-3">
        <button (click)="onClickUpdateState('transactionslist')" color="accent" mat-flat-button>back</button>
    </div>
</ng-template>

<ng-template #transactionempty>
    <div class="text-center">
        <p class="fs-6 fw-light">You have no transaction.</p>
        <button mat-flat-button color="accent" [routerLink]="transfer_in_link">+ transfer-in</button>
    </div>

</ng-template>