<div class="container vh-100 py-4 d-flex align-items-center justify-content-center opacity-25">
    <div class="row py-2 w-100 h-100 px-2 bg-white rounded-1 border shadow border-1 opacity-25" style="max-width: 600px; max-height: 500px;">
        <div class="col-12 d-flex justify-content-center mt-3">
            <img class="img" src="/assets/logo/algofame.svg" style="max-height: 135px ;"/>
        </div>
        <div class="col-12 px-4">
            <form>
                <p class="text-center">Your request requires authentication.</p>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input (keyup)="clearFeedback()" autocomplete="current-password" type="password" class="form-control" [(ngModel)]="password" id="current-password" name="current-password" required #passwordField="ngModel">
                </div>
                <p class="text-center text-danger"> {{feedback}}</p>
                <div class="pt-3 d-flex justify-content-center">
                    <div style="max-width: 50%; width: 100%;">
                        <button type="submit" class="btn btn-warning form-control" (click)="grant()" [disabled]="passwordField.invalid" [appLoadingIcon]="loading">Authorize</button>
                    </div>
                </div>
                <div class="pt-3 d-flex justify-content-center">
                        <button type="submit" mat-button (click)="cancel()" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>