<app-basic-layout>
    <ng-container title>
        Private Funds
    </ng-container>
    <ng-container content>
        <table *ngIf="funds.length>0" class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Balance</td>
                <td>Target</td>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fund of funds" >
                    <td>{{fund.account_number}}</td>
                    <td>
                        <a routerLink="/private-funds/{{fund.id}}">
                            {{fund.nickname}}
                        </a>
                    </td>
                    <td>{{fund.balance | currency}}</td>
                    <td>{{fund.latest_lock && fund.locked ? (fund.lock_mechanism=="TIME" ? fund.latest_lock.condition_value:(fund.latest_lock.condition_value/100|currency)) : 'N/A'}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</app-basic-layout>
