<app-basic-layout>
    <ng-container title>
        Private Funds
    </ng-container>
    <ng-container content>
        <table *ngIf="funds.length>0" class="table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Balance</td>
                <td>Target</td>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fund of funds" >
                    <td>{{ fund.getFundNumber() }}</td>
                    <td>
                        <a routerLink="/private-funds/{{ fund.getId() }}">
                            {{ fund.getFundName() }}
                        </a>
                    </td>
                    <td>{{ fund.getBalance() | currency }}</td>
                    <td>{{ fund.hasActiveGoal() ? fund.getGoalType() : 'N/A' }}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</app-basic-layout>
