<table class="table  table-hover">
    <thead>
        <tr>
            <td>Date</td>
            <td>Member</td>
            <td>Description</td>
            <td>Inflow</td>
            <td>Outflow</td>
            <td>Balance</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of transactions">
            <td>{{ item.getDate() | date }}</td>
            <td>{{ fund?.findMemberByGridAccountUserId(item.getGridAccountUserId())?.getFullname() }}</td>
            <td>{{ item.getDescription() }}</td>
            <td class="text-success"> {{ item.isDeposit() ? '+':''  }} {{ item.isDeposit() ? (item.getAmount().inDollars()|currency):''}}</td>
            <td>{{ item.isWithdraw() ? '-':'' }} {{ item.isWithdraw() ? (item.getAmount().inDollarsAbsolute()|currency):'' }}</td>
            <td>{{item.getBalance().inDollars() | currency}}</td>
        </tr>
    </tbody>
</table>
